.header{
	left: 0;
	right: 0;
	position: fixed;
	padding: 20px 0;
	z-index: 50;
	background: rgba(8,16,22,1);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(8,16,22,1) 20%);

	&__inner{
		display: flex;
		justify-content: flex-end;
	}

	&__menu{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}

.menu{
	&__item{
		display: inline-block;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 900;
		transition: transform .5s ease;
	}

	&__item:not(:last-child){
		margin-right: 55px;
	}

	&__item:hover{
		transform: scale(1.2);
	}
}